@using Register.Domain.DTO;
@model IEnumerable<PatientDTO>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">CPF</th>
            <th scope="col">Nascimento</th>
            <th scope="col">Gênero</th>
            <th scope="col">Condição</th>
            <th scope="col">Nº Prontuário</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var item in Model)
            {
                <th>
                <td>@item.id</td>
                <td>@item.person.name</td>
                <td>@item.person.cpf</td>
                <td>@item.person.birthDate</td>
                <td>@item.person.gender</td>
                <td>@item.condition.name</td>
                <td>@item.mrNumber</td>
                </th>
            }
        </tr>
    </tbody>
</table>

